@charset "utf-8";
/* CSS Document */
/* 
CSS
Estilos de la Interface Gráfica
Rodrigo Carvajal J. (rcarvajal@scv.cl)
*/
body {
	margin: 0 !important;
	padding: 0 !important;
	height: 100%;
	display: block;
	font-family: Arial, Liberation Sans, sans-serif;
	background-color: #FFF;
	/*background-image:url(../imagenes/background.jpg);
	background-position: center center;
	background-repeat: no-repeat;*/
}
body a, a:hover, a:visited{
	text-decoration: none;
	color: #000;
	margin: 0px;
}
#header {
	position: fixed;
	width: 100%;
	top: 0px;
	color: #fff;
	background-color: #173b86;
	background-image:url(../imagenes/topimg.jpg);
	background-position: top right;
	background-repeat: no-repeat;
}

#contenido {
	display: block;
	position: fixed;
	width: 100%;
	top: 76px;
	bottom: 0px;
	overflow: scroll !important;
	background-color: #FFF;
	background-image:url(../imagenes/background.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	z-index: -1;
}
#carga {
	position: fixed;
	width: 100%;
	top: 80px;
	bottom: 0px;
	overflow: scroll !important;
	background-color: #FFF;
	background-image:url(../imagenes/background.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	z-index: -1;
}

table {
	text-align: left;
}
.sub-content {

	text-align: left;
	border-left:2px solid #1e283c;
	border-bottom:2px solid #1e283c;
	border-top:1px solid #3e585c;
	border-right:1px solid #3e585c;
	margin: 5px;
	background-color:#cbdee4;
	padding: 5px;
	font-size: 16px;
}

input, select {
	color: #000;
}
.sub-content input {
	font-size:11px;
}

.sub-content select {

	font-size:11px;

}

.sub-content textarea {

	font-size:11px;

}

.sub-tooltip {

	text-align: left;
	border-left:2px solid #1e283c;
	border-bottom:2px solid #1e283c;
	border-top:1px solid #3e585c;
	border-right:1px solid #3e585c;
	background-color:#cbdee4;
	margin: 2px;
	padding: 5px;
	font-size: 16px;
}

.tabs {

	text-align: left;
	border-left:2px solid #1e283c;
	border-top:1px solid #3e585c;
	border-right:1px solid #3e585c;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
  background-color:#cbdee4;
	padding: 5px;
	font-size: 16px;
	cursor: default;
	
}

.tabs_fade {
	text-align: left;
	border-left:1px solid #1e283c;
	border-top:1px solid #3e585c;
	border-right:1px solid #3e585c;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
  	background-color:#abbec4;
	padding: 5px;
	font-size: 16px;
	cursor:pointer;
	
}

.tabbed_content {
	text-align: center;
	border-right:2px solid #1e283c;
	border-top:2px solid #1e283c;
	border-bottom:1px solid #3e585c;
	border-left:1px solid #3e585c;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	background-color:#eff6ff;
	padding: 5px;
	font-size: 10px;
}

.sub-content td {
	font-size: 12px;
}

.sub-tooltip td {
	font-size: 12px;
}

.sub-content2 {
	text-align: center;
	border-right:2px solid #1e283c;
	border-top:2px solid #1e283c;
	border-bottom:1px solid #3e585c;
	border-left:1px solid #3e585c;
	margin: 5px;
	background-color:#eff6ff;
	padding: 1px;
	font-size: 10px;
}

.lista_small td {
  font-size:11px;
}

.bincard {
  border-right:2px solid #1e283c;
	border-top:2px solid #1e283c;
	border-bottom:1px solid #3e585c;
	border-left:1px solid #3e585c;
	margin: 5px;
	background-color:#eff6ff;
	padding: 5px;
}

.bincard td {
	font-size: 10px;
}

.sub-content3 {
	text-align: left;
	border-right:1px solid #1e283c;
	border-top:1px solid #1e283c;
	border-bottom:1px solid #3e585c;
	border-left:1px solid #3e585c;
	margin: 0px;
	background-color:#eff6ff;
	font-size: 10px;
}

.sub-content3 td {
	font-size: 12px;
}

.sub-content4 {
	text-align: center;
	border-right:1px solid #1e283c;
	border-top:1px solid #1e283c;
	border-bottom:1px solid #3e585c;
	border-left:1px solid #3e585c;
	margin: 2px;
	background-color:#afd6ff;
	padding: 2px;
	font-size: 10px;
}


.derecha {
	text-align: right;
}

.izquierda {
	text-align: left;
}

.shortinfo {
	border: 1px solid #1e283c;
	background-color:#0099CC;
	position: absolute;
}

.tabla_header {
	background-color:#bfc6cf;
	text-align: center;
}

.tabla_header td {
	border-left: 2px solid #000000;
	border-bottom: 2px solid #000000;
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
	margin: 1px;
	padding: 0px;
}

.tabla_fila_m {
	border: 1px gray solid;
  background-color:#8fb6Df;
	margin: 2px;
}

.tabla_fila {
	background-color:#dfe6ef;
	margin: 2px;
}


.tabla_fila2 {
	background-color:#cfd6df;
	margin: 2px;
}

.boton { 
	display: block;
	border-left:3px solid #1e283c;
	border-bottom:3px solid #1e283c;
	border-top:1px solid #1e283c;
	border-right:1px solid #1e283c;
	padding:2px;
	margin:5px;
	min-width: 200px;
	max-width: 250px;
	text-align: center;
	background-color: #C6D1E1;
}

.boton:hover {
	background-color:#8691a1;
}

.boton a {
	display: block;
	text-decoration: none;
}

.boton a:hover {
	display: block;
	text-decoration:none;
	background-color:#8691a1;
}

.boton2 {
	display: block;
	text-decoration: none;
	border-left:3px solid #1e283c;
	border-bottom:3px solid #1e283c;
	border-top:1px solid #1e283c;
	border-right:1px solid #1e283c;
	background-color: #C6D1E1;
	min-width:200px;
	max-width:200px;
	
}

.boton2:hover {
	display: block;
	text-decoration:none;
	background-color:#8691a1;
	border-left:3px solid #1e283c;
	border-bottom:3px solid #1e283c;
	border-top:1px solid #1e283c;
	border-right:1px solid #1e283c;
}

.boton2 img {
  border: none;
  margin:2px;
}


.tabla_informe {
  font-size: 12px;
}

.texto_tooltip {
  cursor: help;
  border-bottom: 1px dotted;
  color: #000099;
}

.no_screen {
  display: none;
}

.mouse_over {
	background-color:#8f96bf;
	cursor: default;
}
